body {
    background-image: url(/src/login/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 10%;
    padding-top: 15px;
    padding: 25px;
    background: #f4f7f8;
    border: 1px solid #ddd;
    border-radius: 10px;

}

h2 {
    margin-top: 10px;
    text-align: center;
}

label,
input {
    display: block;
    margin-bottom: 10px;
    width: 97%;
}

button {
    padding: 9px;
    background: #236ea8;
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

#message {
    margin-top: 10px;
    text-align: center;
    color: red;
}