.nav-link {
    padding: 0%;
}

.action {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
}

.search-title {
    font-size: 30px;
}

.input-search {
    width: 40%;
}

.label-search-head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #0078D4;
    padding: 15px;
    width: 15%;
}

.label-search {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 17px;
    color: #0078D4;
    padding: 10px;
    width: 50%;
}

.form-control.search-text {
    border: 1px solid #0078D4;
    box-sizing: border-box;
    border-radius: 5px;
    width: 30%;
    margin: 5px;
}

.btn.btn-primary {
    padding: 5px 8px 3px;
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
}

.btn.btn-primary.ct {
    margin: 3px;
}

.information-title {
    font-size: 30px;

}

thead {
    background-color: #0078D4;
    padding: 50%;

}

.table>thead {
    vertical-align: middle;
}

.modal-content.action {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid #888;
    width: 75%;
}

.detail-label {
    display: flex;
    justify-content: flex-start;
}

.form-control.text-modal {
    padding: 5px;
    margin: 5px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.table-up-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}